<!DOCTYPE html>
<html>
<head>
    
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/generastyl.css" />
    <link rel="stylesheet" href="/stylesheets/formular.css" />
    <link rel="stylesheet" href="/stylesheets/Styleform.css" />
    <script src="https://kit.fontawesome.com/548fecdbb4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="selector">
        <header>
            <img src="/images/imagen centro medico.png" class="centromed" />
            <nav>
           <a href="/"><i class="fa-solid fa-house"></i> inicio</a>
                <a href="/medicos/agregar-medico"><i class="fa-solid fa-light fa-pen-to-square"></i> formulario medicos</a>
                <a href="/pacientes/agregar-paciente"><i class="fa-solid fa-light fa-pen-to-square"></i> formulario pacientes </a>
                <a href="/citas/agregar-cita"><i class="fa-solid fa-light fa-pen-to-square"></i> formulario citas</a>
                <a href="/pacientes"><i class="fa-solid fa-light fa-file"></i> Tabla de datos pacientes</a>
                <a href="/medicos"><i class="fa-solid fa-light fa-file"></i> Tabla de datos medicos</a>
                <a href="/citas"><i class="fa-solid fa-light fa-file"></i> Tabla de citas</a>
        </header>
    </div>
   <main>
   {{{body}}}
  </main>
</body>
</html>
 